.container-contacto {
    background-image: url(/img/fondo-contacto.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    color: #fff;
}

.container-contacto p {
    margin: 10px 0;
}

.contact {
    width: 50%;
    margin: 10% 112px;
}

.informacion {
    width: 50%;
    margin-top: 10%;
    margin-left: 60px;
}

.contact h4 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 12px;
}

.contact h1 {
    font-size: 5em;
    font-family: "Merriweather", serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

.contact p {
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 150%;
}

.contact-form {
    text-align: center;
}

.contact-row {
    margin: 30px;
}

.contact-row input,
.contact-row textarea {
    padding: 10px;
    width: 400px;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px #fff solid;
    color: #fff;
}

.contact-row textarea {
    width: 430px;
}

.contact-row i {
    margin-left: 10px;
}

.contact label {
    display: block;
    text-align: start;
    font-weight: lighter;
    opacity: 0.7;
    margin-left: 160px;
    margin-bottom: 10px;
}

.contact button {
    margin-bottom: 10px;
    padding: 10px 90px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
}
.contact button:hover{
    color: #fff;
    transition: all 0.8s;
}
.contact a {
    display: block;
    color: #fff;
    margin: 5px 0;
}

.informacion h2 {
    font-weight: lighter;
    opacity: 0.8;
}

.informacion p {
    font-weight: normal;
    line-height: 200%;
}

.horas {
    padding-bottom: 30px;
}

.direccion {
    padding-bottom: 40px;
}

.informacion-span {
    opacity: 0.7;
    margin-top: 150px;
    font-size: 18px;
}

.informacion-span span {
    padding-right: 20px;
}