* {
    /* background-color: #fefefd; color de hover */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-admin {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    border-bottom: 1px #d53e4b solid;
}
.navbar-menu a {
    color: #d53e4b;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 20px;
}
.navbar-menu a:hover{
    transition: all 0.5s;
    background-color: #f8c8cc;
}

/* botones listados */
.btn-listados {
    display: flex;
    justify-content: end;
    border-bottom: 1px #d53e4b solid;
}

.btn-listados input {
    background-color: #fff;
    color: #d53e4b;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-listados input:hover {
    background-color: #d53e4b;
    color: #fff;
    transition: all 0.5s;
}

.cambiar {
    /*SACAR Y EDITAR PARA QUE APAREZCA O SE HABILITE POR OFICINAS*/
    display: flex;
    justify-content: end;
    margin-right: 255px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vehiculos {
    /*SACAR Y EDITAR PARA QUE APAREZCA O SE HABILITE POR OFICINAS*/
    background-color: #ece7e6;
    padding: 10px 20px;
    border: none;
    border-radius: 0%;
    font-weight: bold;
}
.vehiculos:hover{
    background-color: #d53e4b;
    color: #ece7e6;
}

.botones-listado {
    display: flex;
}
.botones-listado input{
    cursor: pointer;
}
.busqueda{
    margin-left: 3px;
}
#buscar-id,
.btn-abm input {
    background-color: #d53e4b;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
}
#numero-id {
    background-color: #fff;
    border: 1px #d53e4b solid;
    border-radius: 5px;
    padding: 10px;
    cursor: auto;
    outline: none;
}
.btn-abm {
    margin-left: 30px;
}
#buscar-id:hover,
.btn-abm input:hover{
    background-color: #f8c8cc;
    transition: all 0.5s;
}

.tbl-listado {
    margin: 10px 10px;
    text-align: center;
}

th {
    background-color: #f8c8cc;
    padding: 15px 40px;
}

td {
    border: 1px #ece7e6 solid;
    border-radius: 3px;
    padding: 10px;
}
button.btn-eliminar,
button.btn-modificar{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    padding: 20px;
}
button.btn-eliminar{
    background-image: url('/img/iconeliminar.ico');
    margin-right: 10px;
}
button.btn-modificar{
    background-image: url('/img/iconmodificar.ico');
}
button.btn-eliminar:hover,
button.btn-modificar:hover {
    background-color: transparent;
}
.modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}
.span-cerrar{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.modal__close{
    font-weight: bold;
    font-size: 1.5em;
    background-color: #f8c8cc;
    color: #d53e4b;
    cursor: pointer;
    padding: 0 8px;
    justify-items: center;
    border-radius: 5px;
}
.modal__close:hover {
    background-color: #d53e4b;
    color: #f8c8cc;
    transition: 0.3s;
}
.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s;
}
.modal__container{
    border: 1px #d53e4b solid;
    border-radius: 8px;
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    padding: 3em 2.5em 2em;
}
.modal__container {
    position: relative; /* Para que la "X" tenga una posición relativa al contenedor */
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999; /* Asegura que esté por encima del contenido del modal */
}

.div-btncrear {
    text-align: center; /* Para centrar el botón "Crear" */
    margin-top: 20px; /* Espacio entre el formulario y el botón "Crear" */
}

.modal h2{
    background-color: #f8c8cc;
    color: #d53e4b;
    text-align: center;
    padding: 10px 0;
}
.modal__form{
    padding: 10px 25px;
}
.modal__group{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__group label{
    margin-right: 10px;
}
.modal__group input{
    border: 1px #d53e4b solid;
    border-radius: 5px;
    color: #817576;
    padding: 10px;
    outline: none;
}
#numero-id:focus,
.modal__group input:focus{
    border: 1px #f8c8cc solid;
    transition: .3s;
}
.div-btncrear{
    display: flex;
    justify-content: center;
}
.btn__crear{
    background-color: #f8c8cc;
    color: #d53e4b;
    font-weight: bold;
    border: none;
    margin-top: 30px;
    padding: 10px 60px;
    transition: background-color .3s;
}
.btn__crear:hover{
    background-color: #d53e4b;
    color: #f8c8cc;
}

input::placeholder{
    color: #817576;
}