/* Estilos generales */
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    background-image: url(/img/atardecer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 100px;
}

/* Estilos de la navbar */
.navbar {
    background-color: #db2a41;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.navbar-left img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    /* filter: drop-shadow(2px 2px 4px #faea10); */
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
/* Estilos del dropdown seguir tematica del color */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #db2a41;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #db2a41;
}

/* Estilos de la card */
.card {
    width: 55%;
    height: 450px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 100px 20px;
    padding-right: -50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.9;
}

.card img {
    width: 450px;
    height:400px;
    margin-left: 30px;
    border-radius: 10%;
}

.card-content {
    flex-grow: 1;
    width: 500px;
}


.card-content>h2 {
    margin-top: -100px;
    padding: 40px 0;
    font-size: 40px;
    color: #db2a41;
}

.card-content button{
    margin-top: 10px;
}

h2 {
    margin: 0;
}

p {
    font-weight: bold;
    margin: 20px;
}

select {
    padding: 5px 30px;
    border: 1px #db2a41 solid;
    border-radius: 10px;
}

.location {
    margin-top: 20px;
}

button {
    padding: 10px 30px;
    border: 1px #db2a41 solid;
    border-radius: 20px;
    background-color: #db2a41;
    color: #fff;
}

button:hover {
    background-color: #fd8f52;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.weather {
    margin-top: 20px;
}

/* Estilos de la sidebar */
.sidebar {
    width: 25%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos del footer */
footer {
    margin-top: auto;
    display: flex;
    /*position: absolute;*/
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0px;
    padding: 20px;
    background-color: #db2a41;
}

.footer-p {
    color: #fff;
}